:root{--font-size:1rem;--font-family:unset;--font-size--is-small:.5rem;}
        :host{--font-size:var(--my-ds--font-size);--font-family:var(--my-ds--font-family);}
        :host([small]){--font-size:var(--my-ds--font-size--is-small);}
        